# Docker Hub
DOCKERHUB_USERNAME=your-dockerhub-username

# SQL Server
SQL_SA_PASSWORD=YourStrong@Passw0rd

# JWT
JWT_SECRET_KEY=your-super-secret-key-min-32-characters-long-for-security

# API
API_PORT=5094

# WEB
WEB_PORT=5100
